<!DOCTYPE html>
<html>
<head>
    <title>SmartStudy Flow 🌸</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="pomodoro">
        <p id="timer">25:00</p>
        <div id="pomodoro-buttons">
            <button id="start">Start</button>
            <button id="pause">Pause</button>
            <button id="reset">Reset</button>
        </div>
    </div>

    <!-- Learning Topic Input -->
    <div id="learning-section">
        <input type="text" id="topic-input" placeholder="What are you learning today?">
        <button id="find-resources">Find Resources</button>
    </div>

    <!-- Resource Cards -->
    <div id="resources-container"></div>


    <input type="text" id="quiz-topic-input" placeholder="Enter quiz topic, e.g., cats">
<input type="number" id="quiz-num-input" placeholder="Number of questions" value="3" min="1" max="10">
<button id="take-quiz">Take Quiz</button>
<div id="quiz-container"></div>


    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
